.das_content {
    font-family: cursive;
    font-size: x-large;
    width: 500px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    text-align: center;
}

li a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
}